@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
    font-family: 'Raleway';
    padding-top: 70px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.5;
}

.section .content-inverse {
    color: #FFF;
}

.navbar-default {
    background-color: #33C3F0;
    border-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:visited {
    background-color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
}