@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
    font-family: 'Raleway';
    padding-top: 50px;
    line-height: 2;
}

.navbar-default {
    background-color: #33C3F0;
    border-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}