@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

body {
    font-family: 'Raleway';
    padding-top: 70px;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.5;
}

#landing {
    background-size: cover;
    background-image: url(../images/background.jpg);
    color: #FFF;
}

.section .content-inverse {
    color: #FFF;
}

.navbar-default {
    background-color: #F6881E;
    border-bottom: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:visited {
    background-color: #FFF;
}

.navbar-default .navbar-brand {
    color: #FFF;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Navigation dots */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #F6881E;
}

/* Button Personalization */

.btn {
    border-radius: 0;
    background: none;
    padding: 12px 22px;
}

.btn-default {
    border: 2px solid #FFF;
    color: #FFF;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    border-color: #FFF;
    background: #FFF;
    color: #000;
}

.btn-default:active, .btn-default.active {
    border-color: #FFF;
    color: #FFF;
    box-shadow: none;
}

/* Skills icons */

.skills-section-main h1 {
    font-size: 60pt;
}

@media (max-width: 767px) {
    .skills-section-main h1 {
        font-size: 40pt;
    }
}