---
layout: page
title: Categories
---

<section class="section">
  <div class="container">
    {% for category in site.categories %}
      <a href="#{{ category[0] | slugify }}" class="button">{{ category[0] }}</a>
    {% endfor %}
  </div>
<section>
<section class="section">
  <div class="container">
    {% for category in site.categories %}
    <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
    <ul>
      {% for post in category[1] %}
        <a href="{{ site.baseurl }}{{ post.url }}">
          <li>
            {{ post.title }}
          - <small>{{ post.date | date_to_string }}</small>
          </li>
        </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</section>