body {
	background-color: black;
	color: white;
	text-align: center;
}

h1 {
	font-family: Consolas, Courier New;
}

hr {
	border: 1px solid white;
	margin: 0px 10px;
}

#sign {
	font-family: Consolas, Courier New;
	font-size: 16pt;
}