---
layout: page
title: Tags
---

<section class="section">
  <div class="container">
    {% for tag in site.tags %}
    <span class="tag is-primary">
      <a href="#{{ tag[0] | slugify }}" style="color: white">{{ tag[0] }}</a>
    </span>
    {% endfor %}
  </div>
</section>
<section class="section">
  <div class="container">
    {% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul>
      {% for post in tag[1] %}
        <a href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      - <small>{{ post.date | date_to_string }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</section>