<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        <nav class="navbar">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{ site.url }}">
                    <img src="{{ site.basurl }}/images/256x256.png" alt="{{ site.title }}">
                </a>

                <a class="navbar-item is-hidden-desktop" href="https://github.com/{{ site.github }}" target="_blank">
                    <span class="icon" style="color: #333;">
                        <i class="fa fa-github"></i>
                    </span>
                </a>

                <a class="navbar-item is-hidden-desktop" href="https://twitter.com/{{ site.twitter }}" target="_blank">
                    <span class="icon" style="color: #55acee;">
                        <i class="fa fa-twitter"></i>
                    </span>
                </a>

                <a class="navbar-item is-hidden-desktop" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">
                    <span class="icon" style="color: #0077b5;">
                        <i class="fa fa-linkedin"></i>
                    </span>
                </a>

                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    {% for nav in site.nav %}
                        <a href="{{ nav.href }}" class="navbar-item">{{ nav.name }}</a>
                    {% endfor %}
                </div>
                
                <div class="navbar-end is-hidden-mobile">
                    <a class="navbar-item" href="https://github.com/{{ site.github }}" target="_blank">
                        <i class="fa fa-github" style="color: #333;"></i>
                    </a>
                    <a class="navbar-item" href="https://twitter.com/{{ site.twitter }}" target="_blank">
                        <i class="fa fa-twitter" style="color: #55acee;"></i>
                    </a>
                    <a class="navbar-item" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">
                        <i class="fa fa-linkedin" style="color: #0077b5;"></i>
                    </a>
                </div>
            </div>
        </nav>
        
        {{ content }}

        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                <p>
                    <strong>Mateus's Blog</strong> by <a href="http://mateus.tech">Mateus de Morais</a>
                </p>
                <p>Web and Cloud Developer | mateus@mateus.tech</p>
                </div>
            </div>
        </footer>

        <script src="{{ site.baseurl }}/resources/site.js"></script>
    </body>
</html>
