---
layout: default
---

{% include header.html %}

<section class="hero is-light">
  <div class="hero-body">
  <div class="container">
    <h2 class="subtitle">{{ page.date | date_to_string }}</h2>
    <h1 class="title">{{ page.title }}</h1>
    {% for category in page.categories %}
      <a href="{{ site.category_page }}#{{ category | slugify }}">{{ category }}</a>
    {% endfor %}
    |
    {% for tag in page.tags %}
      <span class="tag is-primary"><a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" style="color: white">{{ tag }}</a></span>
    {% endfor %}
  </div>
  </div>
</section>
<section class="section post-content">
  <div class="container">
    {{ content }}
  </div>
</section>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Related Posts</h1>
      <ul>
        {% for post in site.related_posts limit:3 %}
          <li>
            <h2>
              <a href="{{ site.baseurl }}{{ post.url }}">
                {{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
              </a>
            </h2>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% if site.disqus_shortname %}
  <hr>
  {% include disqus_comments.html %}
{% endif %}